TESTNET_API_KEY=<your-api>
TESTNET_PUBLIC_KEY=<your-public>
TESTNET_PRIVATE_KEY=<yout-private>
TESTNET_VAULT_ID=<your-vault-id>

MAINNET_API_KEY=<your-api>
MAINNET_PUBLIC_KEY=<your-public>
MAINNET_PRIVATE_KEY=<yout-private>
MAINNET_VAULT_ID=<your-vault-id>
